
<app-carousel-holder></app-carousel-holder>
<div [ngClass]="'home-page-container'">
    <section [ngClass]="['container', 'home-intro-section']">
        <div> 
            <img [src]="'assets/img/logo/logo-14.png'">
        </div>
        <!-- <div *ngFor="let item of home">
            {{ 'home.' + item | translate }}
        </div>     -->
        <div>
            <div [ngClass]="'home-intro-title'"> 
                
                    <h1 [ngClass]="'f-size-25'">{{'home.weare' | translate }}</h1>
                        <br>
                
            </div>
            <span [innerHTML] = "'home.welcome' | translate">
                
            </span>
            
        </div>
        <div>
            
            <button [ngClass]="'btn-black-blue'">
                <a [href]="'/about'">
                <span>{{ 'menu.about' | translate }}</span>
                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.33 22.32">
                    <path d="M9,20,16,13H0V9.47H15.94L8.83,2.38,11.19,0,22.33,11.13,11.15,22.32Z"/>
                </svg> 
            </a>
            </button>
            
        </div>
    </section>

    <section [ngClass]="['sky-back','home-services-section']">
        <div [ngClass]="['sub-title-line']">
            <div>
                <span [ngClass]="['white-color', 'f-size-25']">{{ "menu.services" | translate }}</span>
            </div>
            <div ngClass="circle-lines">
                <div [ngClass]="'white-back'" [id]="'circle'">
                </div>
                <div [ngClass]="'white-back'" [id]="'line'">
                </div>
            </div>
        </div>
        <div [ngClass]="'container'">
            <app-carousel-services></app-carousel-services>
        </div>
        
    </section>
</div>