<section [ngClass]="'section-menu-container'" (window:resize)="onResize($event)">
    
    <nav [ngClass]="['menu-nav','black-back']">

        <div [ngClass]="['container','menu-nav-container']" >
            <div [ngClass]="'logo-divisor'">
                <div>
                    <img [src]="'assets/img/logo/logo-07.png'">
                </div>
                <div [ngClass]="'vertical-divisor'">
                </div>  
                <div [ngClass]="'menu-nav-buttons'" *ngIf="activeMobileMenu">
                    <ul [ngClass]="'menu-btn-list'">
                        <li>
                            <a [routerLink]="['/home']" routerLinkActive="router-link-active">
                                <span [ngClass]="'white-color'">Home</span>
                            </a>
                        </li>
                        <li [ngClass]="'btn-dropdown'" (click)="showSubMenu()" (mouseover)="activeSubMenu=true" (mouseleave)="activeSubMenu=false">
                            
                            <div [ngClass]="'btn-dropdown-title'">
                                <div>
                                    <span [ngClass]="'white-color'">Services</span>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
                                        <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                                    </svg>
                                </div>
                            </div>

                            <div [ngClass]="'sub-menu-btn-container'">
                                <ul *ngIf="activeSubMenu" [ngClass]="'sub-menu-btn-list'">
                                    <li>
                                        <a [routerLink]="['/smart-marketing']" routerLinkActive="router-link-active">
                                            <span>Smart Marketing</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/smart-data-safetly']" routerLinkActive="router-link-active">
                                            <span>Smart Data Safetly</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/smart-image-classification']" routerLinkActive="router-link-active">
                                            <span>Smart Image Classification</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/iot-product-development']" routerLinkActive="router-link-active">
                                            <span>IoT Product Development</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a [routerLink]="['/about']" routerLinkActive="router-link-active">
                                <span [ngClass]="'white-color'">About us</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/contact']" routerLinkActive="router-link-active">
                                <span [ngClass]="'white-color'">Contact us</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        

            

            <div [ngClass]="'menu-nav-socila-web'">
                <a href="#">
                    <img [src]="'assets/img/icons/icon-08.svg'">
                </a>
                <a href="#">
                    <img [src]="'assets/img/icons/icon-09.svg'">
                </a>
                <!-- <a href="#">
                    <img [src]="'assets/img/icons/icon-10.svg'">
                </a> -->
            </div>
            
        </div>
        <div>
            <button class="movil-btn" (click)="showMobileMenu()" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path style="fill: #fff; background-color:#fff" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                </svg>
                <!-- <svg viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                <path class="line line2" d="M 20,50 H 80" />
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg> -->
            </button>
        </div>
    </nav>
    <div [ngClass]="'barra-azul'">
    </div>
    
</section>
