<section [ngClass]="'section-menu-container'" (window:resize)="onResize($event)">
    
    <nav [ngClass]="['menu-nav','black-back']">

        <div [ngClass]="['container','menu-nav-container']" >
            <div [ngClass]="'logo-divisor'">
                <div>
                    <a href="/">
                        <img [src]="'assets/img/logo/logo-07.png'">
                    </a>
                </div>
                <div [ngClass]="'vertical-divisor'">
                </div>  
                <div [ngClass]="'menu-nav-buttons'" *ngIf="activeMobileMenu">
                    <ul [ngClass]="'menu-btn-list'">
                        <li (click)="closeMenMoble()">
                            <a [routerLink]="['/home']" routerLinkActive="router-link-active">
                                <span [ngClass]="'white-color'">{{"menu.home" | translate}}</span>
                            </a>
                        </li>
                        <li [ngClass]="'btn-dropdown'" (click)="showSubMenu()" (mouseover)="activeSubMenu=true" (mouseleave)="activeSubMenu=false">
                            
                            <a [ngClass]="'btn-dropdown-title'" [routerLink]="['/services']" routerLinkActive="router-link-active">
                                <div>
                                    <span [ngClass]="'white-color'">{{"menu.services" | translate}}</span>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
                                        <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                                    </svg>
                                </div>
                            </a>

                            <div [ngClass]="'sub-menu-btn-container'">
                                <ul *ngIf="activeSubMenu" [ngClass]="'sub-menu-btn-list'">
                                    <li (click)="closeMenMoble()">
                                        <a [routerLink]="['/smart-marketing']" routerLinkActive="router-link-active">
                                            <span>{{"generic.sm" | translate}}</span>
                                        </a>
                                    </li>
                                    <li (click)="closeMenMoble()">
                                        <a [routerLink]="['/smart-data-safetly']" routerLinkActive="router-link-active">
                                            <span>{{"generic.sds" | translate}}</span>
                                        </a>
                                    </li>
                                    <li (click)="closeMenMoble()">
                                        <a [routerLink]="['/smart-image-classification']" routerLinkActive="router-link-active">
                                            <span>{{"generic.sic" | translate}}</span>
                                        </a>
                                    </li>
                                    <li (click)="closeMenMoble()">
                                        <a [routerLink]="['/iot-product-development']" routerLinkActive="router-link-active">
                                            <span>{{"generic.iotpd" | translate}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li (click)="closeMenMoble()">
                            <a [routerLink]="['/about']" routerLinkActive="router-link-active">
                                <span [ngClass]="'white-color'">{{"menu.about" | translate}}</span>
                            </a>
                        </li>
                        <li (click)="closeMenMoble()">
                            <a [routerLink]="['/contact']" routerLinkActive="router-link-active">
                                <span [ngClass]="'white-color'">{{"generic.contact" | translate}}</span>
                            </a>
                        </li>
                        <li [ngClass]="'btn-dropdown'" (click)="showSubMenu2()" (mouseover)="activeSubMenu2=true" (mouseleave)="activeSubMenu2=false">
                         
                            <a [ngClass]="'btn-dropdown-title'">
                                <div>
                                    <span [ngClass]="'white-color'">{{"menu.language" | translate}}</span>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
                                        <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                                    </svg>
                                </div>
                            </a>

                            <div [ngClass]="'sub-menu-btn-container'">
                                <ul *ngIf="activeSubMenu2" [ngClass]="'sub-menu-btn-list2'">
                                    <li (click)="closeMenMoble()">
                                        <div (click)="esLanguage()">
                                            <span>{{"generic.sp" | translate}}</span>
                                        </div>
                                    </li>
                                    <li (click)="closeMenMoble()">
                                        <div (click)="enLanguage()">
                                            <span>{{"generic.en" | translate}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        

            

            <div [ngClass]="'menu-nav-socila-web'">
                <a href="#">
                    <div>
                        <img [src]="'assets/img/icons/icon-08.svg'">
                    </div>
                </a>
                <!-- <a href="#">
                    <img [src]="'assets/img/icons/icon-09.svg'">
                </a> -->
                <!-- <a href="#">
                    <img [src]="'assets/img/icons/icon-10.svg'">
                </a> -->
            </div>
            
        </div>
        <div>
            <button class="movil-btn" (click)="showMobileMenu()">
                <img [src]="'assets/img/icons/burger.svg'">
            <!-- <button class="movil-btn" (click)="showMobileMenu()" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu"> -->
                <!-- <svg viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                <path class="line line2" d="M 20,50 H 80" />
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg> -->
            </button>
        </div>
    </nav>
    <div [ngClass]="'barra-azul'">
    </div>
    
</section>
