<section [ngClass]="['hero-banner-service-section','imageClassification-main']" (window:resize)="onResize($event)">
    <div>
      <img src="{{imgHead}}"  [alt]="'hero banner service data safetly'" [title]="'Hero banner services'">
    </div>
    <div [ngClass]="['container','text-hero-banner-service']">
        
        <div [ngClass]="'text-hero-banner-service-container'">
            <div [ngClass]="['text-box-hero-banner-service', 'image-classification-box']">
                <div class="text-box-hero-banner-service-title blue-back">
                    <img [src]="'assets/img/icons/icon-21.svg'">
                    <span [ngClass]="['white-color','f-size-38']">
                        {{"generic.sic" | translate}}
                    </span>
                </div>
            </div>
            <div [ngClass]="['text-description-hero-banner-service']">
                <span [ngClass]="['white-color','f-size-25']">
                    {{"generic.sic-descipt" | translate}}
                </span>
            </div>
        </div>
        <div [ngClass]="'image-hero-banner-service'">
            <img [src]="'assets/img/services/service-img-25.png'">
        </div>
        
    </div>
  </section>

  <section>
    <div [ngClass]="['text-main-page-title','container']">
        <div>
            <h1 [ngClass]="['f-size-30','h1-services']">
                {{"generic.sic" | translate}}
            </h1>
        </div>
        <div [ngClass]="'punto-final-azul-titulo-services'"></div>
    </div>
  </section>


  
  <section>
    <div [ngClass]="['what-is-container','container']">
        <div [ngClass]="'what-is-title-container'">
            
            <span class="black-color f-size-25">
                {{"services.sic.sub-title" | translate}}
            </span>
            
        </div>

        <div [ngClass]="'what-is-text-container'">
            <span class="black-color">
                {{"services.sic.what-is" | translate}}
            </span>
        </div>
    </div>
  </section>

<section class="gray-container gray-back">
    <div [ngClass]="['sub-title-line']">
        <div>
            <span [ngClass]="['sky-color', 'f-size-25']">{{ "services.sic.topic1-title" | translate }}</span>
        </div>
        <div ngClass="circle-lines">
            <div [ngClass]="'sky-back'" [id]="'circle'">
            </div>
            <div [ngClass]="'sky-back'" [id]="'line'">
            </div>
        </div>
    </div>    
    <div class="container info-service-container">
        <div class="info-service-img-container">
            <img [src]="'assets/img/services/service-item-33.png'">
        </div>
        <div [innerHTML]="'services.sic.topic1-content' | translate">
        </div>
    </div>
</section>

