<section [ngClass]="'hero-pages'" (window:resize)="onResize($event)">
    <img [src]="imgHead">
</section>

<section [ngClass]="['container','body-pages']">
    <div [ngClass]="'text-main-page-title'">
        <div>
            <h1 [ngClass]="['f-size-30','h1-services']">{{"contact.title" | translate}}</h1>
        </div>
        <div [ngClass]="'punto-final-azul-titulo'"></div>
    </div>
    
    <div [ngClass]="'contact-text'">
        <div><span>{{"contact.contact.email" | translate}}</span></div>
        <div><span>&nbsp;{{"contact.contact.phone1" | translate}}</span></div>
        <div><span>&nbsp;{{"contact.contact.phone2" | translate}}</span></div>
    </div>

    <div [ngClass]="'contact-form-welcome'">
        
        <form [ngClass]="'form-contact'" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            
            <div [ngClass]="'form-contact-group-div'">
                <div class="form-group">
                    <label><span>{{"contact.form.first" | translate}}</span></label>
                    <input class="form-control" type="text" name="name" formControlName="first">
                    <span [ngClass]="'error-validation'" *ngIf="first?.invalid && ( first?.dirty || first?.touched ) && first?.hasError">
                        {{ "contact.form.first-required" | translate}}
                     </span>
                </div>
                <div class="form-group">
                    <label><span>{{"contact.form.last" | translate}}</span></label>
                    <input class="form-control" type="text" name="last" formControlName="last">
                </div>
            </div>

            <div [ngClass]="'form-contact-group-div'">
                <div class="form-group">
                    <label><span>{{"contact.form.company" | translate}}</span></label>
                    <input class="form-control" type="text" name="company" formControlName="company">
                </div>
                <div class="form-group">
                    <label><span>{{"contact.form.country" | translate}}</span></label>
                    <input class="form-control" type="text" name="country" formControlName="country">
                </div>
            </div>
            
            <div [ngClass]="'form-contact-group-div'">
                <div class="form-group">
                    <label><span>{{"contact.form.email" | translate}}</span></label>
                    <input class="form-control" type="email" name="email" formControlName="email">
                    <span [ngClass]="'error-validation'" *ngIf="email?.invalid && ( email?.dirty || email?.touched ) && email?.hasError">
                        {{ "contact.form.email-required" | translate }}
                     </span>
                </div>
                <div class="form-group">
                    <label><span>{{"contact.form.Phone-number" | translate}}</span></label>
                    <input class="form-control" type="tel" name="name" formControlName="phone">
                </div>
            </div>

            <div class="form-group">
                <label><span>{{"contact.form.how-did-you" | translate}}</span></label>
                <input class="form-control" type="text" name="name" formControlName="how">
            </div>

            <div class="form-group">
                <label><span>{{"contact.form.subject" | translate}}</span></label>
                <input class="form-control" type="text" name="subject" formControlName="subject">
                <span [ngClass]="'error-validation'" *ngIf="subject?.invalid && ( subject?.dirty || subject?.touched ) && subject?.hasError">
                    {{ "contact.form.subject-required" | translate }}
                 </span>
            </div>

            <div class="form-group">
                <label><span>{{"contact.form.how-can-we-help" | translate}}</span></label>
                <textarea class="form-control" rows="10" cols="50" name="message" formControlName="message">
                </textarea>
                <span [ngClass]="'error-validation'" *ngIf="message?.invalid && ( message?.dirty || message?.touched ) && message?.hasError">
                    {{ "contact.form.message-required" | translate }}
                 </span>
               
            </div>

            <div [ngClass]="['btn-content']">
                <button [ngClass]="['btn-black-blue']" type="submit" [disabled]="!FormData.valid">
                    <span>{{"contact.form.submit" | translate}}</span>
                </button>
            </div>

            <!-- <div *ngIf="tokenVisible"> reCAPTCHA Token <br />
                <p style="color: red">{{reCAPTCHAToken}}</p>
            </div> -->
            <alert></alert>
        </form>
        
        <div [ngClass]="['sky-back','contact-welcome']">
            <div [ngClass]="'text-main-page-title'">
                <div  style="position: relative;">
                    <span [ngClass]="['f-size-30','white-color']" [innerHTML]="'contact.get-in-touch' | translate"></span>
                    <div [ngClass]="'punto-final-blanco-titulo'" style="position: absolute; bottom: 3px; right: 63px;"></div>
                </div>
                
            </div>
            <div>
                <span class="text-white font-italic">
                   {{"contact.get-in-touch-text" | translate}}
                </span>
            </div>
        </div>
    </div>
</section>
