<section [ngClass]="'hero-banner-service-section'">
    <div>
      <img [src]="'assets/img/services/hero-banner-18.jpg'" [alt]="'hero banner service data safetly'" [title]="'Hero banner services'">
    </div>
    <div [ngClass]="['container','text-hero-banner-service']">
        
        <div [ngClass]="'text-hero-banner-service-container'">
            <div [ngClass]="['text-box-hero-banner-service', 'image-classification-box', 'blue-back']">
                <img [src]="'assets/img/icons/icon-19.svg'"><span [ngClass]="['white-color','f-size-38']">Smart Marketing</span>
            </div>
            <div [ngClass]="['text-description-hero-banner-service']">
                <span [ngClass]="['white-color','f-size-25']">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                </span>
            </div>
        </div>
        <div [ngClass]="'image-hero-banner-service'">
            <img [src]="'assets/img/services/service-img-23.png'">
        </div>
        
    </div>
  </section>

  <section>
    <div [ngClass]="'text-main-page-title'">
        <div>
            <h1 [ngClass]="'f-size-30'">Smart Marketing</h1>
        </div>
        <div [ngClass]="'punto-final-azul-titulo'"></div>
    </div>
  </section>
