

  @media (max-width:992px){

    .image-classification-box span{
      font-size: 30px !important;
      line-height: 1.8rem;
    }
  }

  @media (max-width:476px){
    .h1-services{
      width: min-content;
    }
  }
  
  @media (max-width:400px){

    .image-classification-box span{
      font-size: 30px !important;
      line-height: 1.8rem;
    }
  }