<section [ngClass]="'hero-pages'" (window:resize)="onResize($event)">
    <img [src]="imgHead">
</section>

<section [ngClass]="'body-pages'">
    <div [ngClass]="['container', 'intro-aboutus']">
        <div [ngClass]="'text-main-page-title'">
            <div>
                <h1 [ngClass]="'f-size-30'">{{"menu.about" | translate }}</h1>
            </div>
            <div [ngClass]="'punto-final-azul-titulo'"></div>
        </div>
        <div [ngClass]="'logo-aboutus'"> 
            <img [src]="'assets/img/logo/logo-14.png'">
        </div>
        <div>
            <p>
                <span [ngClass]="['f-size-25','blue-color']">
                    {{"about.title" | translate}}
                </span>
            </p>
        </div>
        <div>
            <span>
                {{"about.sub-title" | translate}}
            </span>
            <!-- <span>
                We make use of our own algorithm or any other algorithm developed by third party companies in order to scrub the data, train the model or models and execute the trained model to extract the desired information.
                
                Our team is based on two countries depending on the magnitude and complexity of the project, Nicaragua and Taiwan.
            </span> -->
        </div>
    </div>

    <!-- <div [ngClass]="['sky-back','blue-Container']"> 
        <div [ngClass]="['container','about-text-intro2','text-center']">
            <div>
                <p [ngClass]="'f-size-38'">
                    <span [ngClass]="'gray-color'">Delivering great</span><span [ngClass]="'white-color'"> digital products</span><span [ngClass]="'gray-color'"> and </span>
                    <span [ngClass]="'white-color'">building<br> culture</span><span [ngClass]="'gray-color'"> people want to belong</span>
                </p>
                <br>
                <p [ngClass]="'white-color'">
                    <span>
                        Databox mindset focuses on a self-driven growth towards ingenious mastery and knowledge-sharing culture combined with a participative approach to decision making and empowerment based on Management 3.0.
                    </span>
                </p>
                <p [ngClass]="'white-color'">
                    <span>
                        They take full ownership of their work and always use the best tools available while maintaining high security and scalability. The entire project is based on mutual trust and openness
                    </span>
                </p>
            </div>
            
            <button [ngClass]="'btn-white-black'">
                <a [href]="'/services'">
                <span>Our services</span>
                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.33 22.32">
                    <path d="M9,20,16,13H0V9.47H15.94L8.83,2.38,11.19,0,22.33,11.13,11.15,22.32Z"/>
                </svg> 
            </a>
            </button>
        </div>
    </div> -->

    <div style="margin-top: 50px;">
        <div [ngClass]="['sub-title-line']">
            <div>
                <span [ngClass]="['dark-gray-color', 'f-size-25']">{{"about.succes-c-title" | translate}}</span>
            </div>
            <div ngClass="circle-lines">
                <div [ngClass]="'dark-gray-back'" [id]="'circle'">
                </div>
                <div [ngClass]="'dark-gray-back'" [id]="'line'">
                </div>
            </div>
        </div>
        <div [ngClass]="['container','success-case-boxes']">
            <div>
                <span>
                    {{"about.succes-c.case1" | translate}}
                </span>
            </div>
            <hr>
        </div>
        
    </div>
</section>

<section class="white-container  white-back">
    <div [ngClass]="['sub-title-line']">
        <div>
            <span [ngClass]="['black-color', 'f-size-25']">{{"about.succes-s-title" | translate}}</span>
        </div>
        <div ngClass="circle-lines">
            <div [ngClass]="'dark-gray-back'" [id]="'circle'">
            </div>
            <div [ngClass]="'dark-gray-back'" [id]="'line'">
            </div>
        </div>
    </div>    

    <div class="container info-service-container">
        <!-- <div class="info-service-img-container">
            <img [src]="'assets/img/services/service-item-29.png'">
        </div> -->
        <div>
            <p>
                <span>
                    <p>
                        <strong>{{"about.succes-s-iot.title-s1" | translate}}</strong>
                    </p>
                    {{"about.succes-s-iot.s1" | translate}}
                </span>
            </p>

            <hr>

            <p>
                <span>
                    <p>
                        <strong>{{"about.succes-s-iot.title-s2" | translate}}</strong>
                    </p>
                    {{"about.succes-s-iot.s2" | translate}}
                </span>
            </p>

            <hr>

            <p>
                <span>
                    <p>
                        <strong>{{"about.succes-s-iot.title-s3" | translate}}</strong>
                    </p>
                    {{"about.succes-s-iot.s3" | translate}}
                </span>
            </p>

            <hr>

            <p>
                <span>
                    <p>
                        <strong>{{"about.succes-s-iot.title-s4" | translate}}</strong>
                    </p>
                    <span [innerHTML] = "'about.succes-s-iot.s4' | translate"></span>
                </span>
            </p>

            <hr>


        </div>
    </div>
</section>
