<section [ngClass]="'hero-pages'">
    <img [src]="'/assets/img/about/hero-banner-16.jpg'">
</section>

<section [ngClass]="'body-pages'">
    <div [ngClass]="['container', 'intro-aboutus']">
        <div [ngClass]="'text-main-page-title'">
            <div>
                <h1 [ngClass]="'f-size-30'">About us</h1>
            </div>
            <div [ngClass]="'punto-final-azul-titulo'"></div>
        </div>
        <div [ngClass]="'logo-aboutus'"> 
            <img [src]="'assets/img/logo/logo-14.png'">
        </div>
        <div>
            <p>
                <span [ngClass]="['f-size-25','blue-color']">
                    “We are a team that specialises in analysing data to extract features
                    of interest”
                </span>
            </p>
        </div>
        <div>
            <span>
                We make use of our own algorithm or any other algorithm developed by third party companies in order to scrub the data, train the model or models and execute the trained model to extract the desired information.
                
                Our team is based on two countries depending on the magnitude and complexity of the project, Nicaragua and Taiwan.
            </span>
        </div>
    </div>

    <div [ngClass]="['sky-back','blue-Container']"> 
        <div [ngClass]="['container','about-text-intro2','text-center']">
            <div>
                <p [ngClass]="'f-size-38'">
                    <span [ngClass]="'gray-color'">Delivering great</span><span [ngClass]="'white-color'"> digital products</span><span [ngClass]="'gray-color'"> and </span>
                    <span [ngClass]="'white-color'">building<br> culture</span><span [ngClass]="'gray-color'"> people want to belong</span>
                </p>
                <br>
                <p [ngClass]="'white-color'">
                    <span>
                        Databox mindset focuses on a self-driven growth towards ingenious mastery and knowledge-sharing culture combined with a participative approach to decision making and empowerment based on Management 3.0.
                    </span>
                </p>
                <p [ngClass]="'white-color'">
                    <span>
                        They take full ownership of their work and always use the best tools available while maintaining high security and scalability. The entire project is based on mutual trust and openness
                    </span>
                </p>
            </div>
            
            <button [ngClass]="'btn-white-black'">
                <a [href]="'/services'">
                <span>Our services</span>
                <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.33 22.32">
                    <path d="M9,20,16,13H0V9.47H15.94L8.83,2.38,11.19,0,22.33,11.13,11.15,22.32Z"/>
                </svg> 
            </a>
            </button>
        </div>
    </div>

    <div>
        <div [ngClass]="['sub-title-line']">
            <div>
                <span [ngClass]="['dark-gray-color', 'f-size-25']">Success Case</span>
            </div>
            <div ngClass="circle-lines">
                <div [ngClass]="'dark-gray-back'" [id]="'circle'">
                </div>
                <div [ngClass]="'dark-gray-back'" [id]="'line'">
                </div>
            </div>
        </div>
        <div [ngClass]="['container','success-case-boxes']">
            <div>
                <span>
                    An agency has trouble finding what was the level of investment of a group of companies. 
                    Example, if a company started with an Angel investor how much investment was initially 
                    provided with, if later this company was able to acquired level A of investment, the 
                    agency wanted to know who provided that investment and for how much. This information was 
                    very important because the agency facilitates company the acquisitions of loans. So our 
                    work was to create a script that search the internet and an article subscription service 
                    to constantly update the investment information of every company on our database.
                </span>
            </div>
            <hr>
            <div>
                <span>
                    An agency has trouble finding what was the level of investment of a group of companies. 
                    Example, if a company started with an Angel investor how much investment was initially 
                    provided with, if later this company was able to acquired level A of investment, the 
                    agency wanted to know who provided that investment and for how much. This information was 
                    very important because the agency facilitates company the acquisitions of loans. So our 
                    work was to create a script that search the internet and an article subscription service 
                    to constantly update the investment information of every company on our database.
                </span>
            </div>
            <hr>
        </div>
        
    </div>
</section>
